@charset "utf-8";
/* CSS Document */
* {
  font-family: 'Rubik', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Homepage */
.homepage_banner {
  background-image: url("images/homepage_banner.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homepage_content {
  margin: auto !important;
}
.welcome {
  margin: 0;
  position: absolute;
  top: 46%;
}
.homepage_title h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0px;
}
.homepage_title h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
}
.homepage_title {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.homepage_title h1 span {
  color: #fff;
}
.homepage_title a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px;
  color: #fff;
  display: inline-block;
  border: 1px solid #d81356;
  transition: all 500ms ease;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.5px;
  border-radius: 30px;
  background-color: #d81356;
  cursor: pointer;
}
.homepage_title a:hover, .homepage_title a:focus {
  background-color: transparent !important;
  color: #fff;
  text-decoration: none;
  transition: all 500ms ease;
}
.image_box {
  position: relative;
  overflow: hidden;
}
.zoom_image {
  transition: all 900ms ease;
}
.zoom_image:hover, .zoom_image:focus {
  border: none !important;
  transform: scale(1.2);
  cursor: pointer;
}
.about_section {
  background-color: #2b2c30;
}
.contact {
  background-image: url("images/skills_contact-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about, .skills_content, .experience_details, .projects_sub, .contact_details {
  margin: auto !important;
  text-align: center;
  color: #fff;
}
.about h2, .skills h2, .experience_details h2, .projects_sub h2, .contact_details h2 {
  color: #fff;
  font-weight: 500;
  margin-top: 100px;
  padding-bottom: 3px;
}
.img-border {
  border: 1px ridge#fff;
}
.about hr, .skills hr {
  width: 150px;
  border: none;
  background-color: #fff;
  height: 2px;
  margin-bottom: 100px !important;
}
.contact_details hr {
  width: 202px;
  border: none;
  background-color: #fff;
  height: 2px;
  margin-bottom: 100px !important;
}
.contact_text {
  text-align: left;
}
.contact_text h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.contact_text h4 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 45px;
}
.contact_text h5 {
  color: #c3c3c3;
  font-weight: 400;
  font-size: 16px;
}
.about h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}
.about h6 {
  margin: 18px 0 30px;
  color: #c3c3c3 !important;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.about p {
  font-size: 14px;
  color: #c5c5c5;
  line-height: 30px;
  font-weight: 400;
}
.about_content {
  text-align: left !important;
  margin-bottom: 100px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.height_adjust {
  padding-top: 3%;
}
.about_content a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px;
  color: #fff;
  display: inline-block;
  border: 1px solid #d81356;
  transition: all 500ms ease;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.5px;
  border-radius: 30px;
  background-color: #d81356;
  cursor: pointer;
}
.about_content a:hover, .about_content a:focus {
  background-color: transparent !important;
  color: #fff;
  text-decoration: none;
  transition: all 500ms ease;
}
.skills {
  background-image: url("images/skills_contact-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skills h4 {
  font-size: 16px !important;
  letter-spacing: 1.3px;
  font-weight: 400;
}
.circle_first {
  margin-bottom: 60px;
}
.circle_second {
  margin-bottom: 100px;
}
.experience {
  background-image: url("images/experinece-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.experience_details hr {
  width: 276px;
  border: none;
  background-color: #fff;
  height: 2px;
  margin-bottom: 100px !important;
  margin: auto;
}
.location-container {
  position: relative;
  display: inline-block;
  color: white;
}
.location_text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.location_content {
  text-align: left;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.location_content h4 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding-top: 15px;
}
.location_text {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  font-style: italic;
}
.location_content h5 {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
.location_content h6 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.location_underline hr {
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: -20px !important;
  margin-bottom: 100px !important;
  border-top: 1px dashed #fff;
}
.just_center {
  margin: auto;
}
.projects_main {
  background-color: #333439;
}
.projects_sub hr {
  width: 156px;
  border: none;
  background-color: #fff;
  height: 2px;
  margin-bottom: 100px !important;
  margin: auto;
}
.gallery_buttons {
  margin-bottom: 70px;
}
.filter {
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px 25px;
  margin: 15px;
  margin-bottom: 30px !important;
  letter-spacing: 0.5px;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid #2b2b2b;
  transition: all 500ms ease;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.filter:hover, .filter:focus {
  background-color: #d81356;
  border: 1px solid #d81356;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff !important;
  transition: all 500ms ease;
}
.filter.active {
  background-color: #d81356;
  border: 1px solid #d81356;
  color: #fff !important;
  cursor: pointer;
  margin: 0 12px 0 0;
}
#wrap {
  box-sizing: border-box;
  margin: auto !important;
  margin: 0px !important;
  max-width: 100% !important;
  padding-bottom: 0px !important;
  width: 100% !important;
}
.first_section, .second_section, .third_section, .fourth_section {
  margin-bottom: 30px;
}
.fifth_section {
  margin-bottom: 100px;
}
.text {
  color: white;
  ont-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 25px;
  right: 25px;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  padding: 10px 30px;
  color: #fff;
}
.overlay:hover {
  opacity: 0.9;
}
.text h3 {
  font-size: 22px !important;
  margin: 0 !important;
  color: #fff;
}
.text p {
  font-size: 14px !important;
  margin: 0 !important;
  padding-top: 10px;
}
.text a {
  text-decoration: none;
  color: #ffc209 !important;
  display: inline;
}
.text a:hover {
  text-decoration: none;
  color: #ffc209;
  cursor: pointer;
}
textarea {
  width: 100% !important;
  padding: 20px 20px;
  border: 2px solid #1b1d23 !important;
  margin: 40px 0 !important;
  color: #949597 !important;
  font-size: 16px !important;
  resize: none;
  height: 130px;
  background: #1b1d23;
  border-radius: 30px;
  font-weight: 500
}
input[type=text] {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #1b1d23;
  background: #1b1d23 !important;
  margin-top: 40px 0 !important;
  color: #949597 !important;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}
input[type=email] {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #1b1d23;
  background: #1b1d23 !important;
  margin-top: 40px !important;
  color: #949597 !important;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}
input[type=submit] {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px;
  color: #fff;
  display: inline-block;
  border: 1px solid #d81356;
  transition: all 500ms ease;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.5px;
  border-radius: 30px;
  background-color: #d81356;
  cursor: pointer;
}
.contact_button {
  text-align: left;
}
#submit-button:hover {
  color: #fff !important;
  background-color: transparent !important;
  border: 1px solid #d81356;
}
input:required:focus, textarea:required:focus {
  border: none;
  outline: none;
}
.contact_content {
  margin-bottom: 100px;
}
/* contact submission page*/
.contact_submission {
  background-color: #2b2c30;
  height: 100vh;
}
.contact_submission_details {
  margin: auto;
  text-align: center;
  color: #fff;
}
.return_button {
  margin: auto;
}
.return_button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 30px;
  color: #fff;
  display: inline-block;
  border: 1px solid #d81356;
  transition: all 500ms ease;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.5px;
  border-radius: 30px;
  background-color: #d81356;
  cursor: pointer;
}
.return_button a:hover {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #d81356;
  transition: all 500ms ease;
  color: #fff;
}
.contact_submission_details h4 {
  font-size: 25px;
}
.getin h2 {
  font-size: 33px;
  margin-top: 10%;
  padding: 0 !important;
}
.getin hr {
  width: 220px;
  height: 1px solid #fff;
  margin-bottom: 30px;
}
.contact_submission_details p {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 400;
}
/* Header */
.header {
  background-color: #06060e;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar-default {
  background-color: #06060e !important;
  border: none !important;
  margin-right: 45px;
  margin-left: 45px;
}
.homepage_nav {
  margin-right: 65px !important;
  margin-left: 65px !important;
}
.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}
.navbar-brand > img {
  width: 55px;
}
.navbar-brand {
  height: 78px !important;
  padding-top: 13px !important;
  padding-bottom: 4px !important;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 10px !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}
.navbar-right {
  padding-top: 19px;
}
.navbar-nav > li > a:hover {
  text-decoration: none;
  color: #ffc209 !important;
  border-top-style: solid;
  border-top-color: #ffc209;
  border-top-width: auto;
  border-spacing: 10px !important;
  transition: all 0.2s ease-in-out 0s;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  text-decoration: none;
  color: #ffc209 !important;
  border-top-style: solid;
  border-top-color: #ffc209;
  border-top-width: auto;
  background-color: transparent !important;
  border-spacing: 10px;
  transition: all 0.2s ease-in-out 0s;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.banner {
  background-color: #06060e;
  height: 90vh;
}
.heading {
  font-weight: 600;
  font-size: 7.1rem;
  line-height: 1;
  color: #fff;
}
.date {
  width: 18% !important;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  color: #fff;
  -webkit-animation: first 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: first 1s; /* Firefox < 16 */
  -ms-animation: first 1s; /* Internet Explorer */
  -o-animation: first 1s; /* Opera < 12.1 */
  animation: first 1s;
}
@keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll {
  font-size: 17px;
  color: #999;
  letter-spacing: 0.4px;
  padding-bottom: 50px;
  text-align: left;
  background-color: #06060e;
}
.scroll_inner {
  position: relative;
  animation: scroll 1.6s infinite;
}
@keyframes scroll {
  from {
    top: 10px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}
.type {
  text-align: right;
  font-size: 18px;
  color: #fff;
}
.adjust {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main_title {
  margin-bottom: 10px;
  -webkit-animation: fadein1 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein1 3s; /* Firefox < 16 */
  -ms-animation: fadein1 3s; /* Internet Explorer */
  -o-animation: fadein1 3s; /* Opera < 12.1 */
  animation: fadein1 3s;
}
@keyframes fadein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header_title {
  margin-bottom: 22px;
}
.ottix_1-banner {
  background-image: url("images/ottix-banner-1.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ottix_2-banner {
  background-image: url("images/ottix-banner-2.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.galaxy_1-banner {
  background-image: url("images/galaxy-banner-1.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.galaxy_2-banner {
  background-image: url("images/galaxy-banner-2.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nissan-banner {
  background-image: url("images/Nissan-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.no_para {
  margin-top: 55px;
}
.redglee_web-banner {
  background-image: url("images/redglee-web-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wayanad-banner {
  background-image: url("images/Wayanad-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.two_lines {
  margin-bottom: 40px !important;
}
.heal-banner {
  background-image: url("images/heal-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.redglee_app-banner {
  background-image: url("images/redglee app banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.delta-banner {
  background-image: url("images/Delta-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.redglee-logo_banner {
  background-image: url("images/redglee-logo-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.psquared_banner {
  background-image: url("images/p-squared-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.food_pot-banner {
  background-image: url("images/foodpot-banner.jpg");
  height: 511px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content {
  background-color: #2b2c30;
}
hr.solid {
  border-top: 1px solid #c5c5c5;
  opacity: 0.5;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 37px;
}
.paragraph {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 3rem;
  margin-bottom: 60px;
  letter-spacing: 0.5px;
}
.first_row {
  margin-bottom: 50px;
}
.below {
  background-color: #2b2c30;
}
.second_line {
  margin-top: 47px;
}
.footer {
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2b2c30;
}
/* Small devices */
@media screen and (max-width:319px) {
  .mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .welcome {
    top: 35%;
  }
  .homepage_title h3 {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .homepage_title h1 {
    font-size: 5.1rem;
  }
  .homepage_title a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about h2, .skills h2, .experience_details h2, .projects_sub h2, .contact_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .about hr, .skills hr {
    width: 110px;
    margin-bottom: 60px !important;
  }
  .height_adjust {
    margin-top: 30px;
  }
  .about h3 {
    font-size: 24px;
  }
  .about h6 {
    font-size: 13px;
    margin-bottom: 25px;
  }
  .about p {
    font-size: 13px;
  }
  .about_content a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about_content {
    margin-bottom: 60px;
  }
  .PHOTOSHOP, .ILLUSTRATOR, .AFTER, .PREMIER, .FIGMA {
    padding-bottom: 60px;
  }
  .XD {
    padding-bottom: 0px;
  }
  .circle_second {
    margin-bottom: 50px;
  }
  .experience_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .experience_details hr {
    width: 200px;
    margin-bottom: 60px !important;
  }
  .location-container {
    display: initial !important;
  }
  .location_content {
    text-align: center;
  }
  .location_content h4 {
    font-size: 18px;
    padding-top: 0px;
  }
  .location_content h5 {
    font-size: 15px;
  }
  .location_content h6 {
    font-size: 13px;
  }
  .location_height {
    margin-bottom: 40px;
  }
  .location_underline {
    display: none;
  }
  .location_height2 {
    margin-bottom: 60px;
  }
  .projects_sub hr {
    margin-bottom: 60px !important;
    width: 115px;
  }
  .gallery_buttons {
    display: grid;
    margin-bottom: 30px;
  }
  .filter {
    display: block;
  }
  .first_gallery {
    margin-bottom: 30px;
  }
  .first_section, .second_section, .third_section, .fourth_section {
    margin-bottom: 0px !important;
  }
  .fifth_section {
    margin-bottom: 30px;
  }
  .contact_details hr {
    margin-bottom: 30px !important;
    width: 148px;
  }
  .contact_text h3 {
    font-size: 19px;
    margin-top: 30px;
  }
  .contact_text h4 {
    font-size: 16px;
    padding-top: 30px;
  }
  .contact_text h5 {
    font-size: 14px;
  }
  .contact_text {
    margin-bottom: 60px;
  }
  input[type="text"], input[type="email"], textarea {
    font-size: 14px !important;
    padding: 11px 20px;
  }
  input[type="email"], textarea {
    margin-top: 30px !important;
  }
  input[type="submit"] {
    margin-top: 0px;
    padding: 12px 20px;
  }
  .contact_content {
    margin-bottom: 30px;
  }
  .contact_button {
    text-align: center;
  }
  .side-adjust_small-device {
    padding: 0px !important;
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    color: #fff;
  }
  .adjust {
    top: 50% !important;
  }
  .navbar-default {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mobile {
    padding-left: 9px;
  }
  .sticky {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-toggle {
    margin-top: 22px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .navbar-default .navbar-toggle {
    border: none !important;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #d81356 !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1f1f20 !important;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
  }
  .heading {
    font-size: 5rem;
  }
  .header_title {
    margin-bottom: 12px;
  }
  .paragraph {
    font-size: 13px;
    text-align: left;
    margin-bottom: 25px !important;
  }
  .first_row {
    margin-bottom: 30px;
  }
  .first_image {
    padding-bottom: 30px !important;
  }
  .footer {
    font-size: 12px;
  }
  .scroll {
    font-size: 14px;
    text-align: center;
  }
  .scroll_inner {
    padding-bottom: 10px !important;
  }
}
@media screen and (min-width:320px) and (max-width:479px) {
  .mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .welcome {
    top: 35%;
  }
  .homepage_title h3 {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .homepage_title h1 {
    font-size: 5.1rem;
  }
  .homepage_title a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about h2, .skills h2, .experience_details h2, .projects_sub h2, .contact_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .about hr, .skills hr {
    width: 110px;
    margin-bottom: 60px !important;
  }
  .height_adjust {
    margin-top: 30px;
  }
  .about h3 {
    font-size: 24px;
  }
  .about h6 {
    font-size: 13px;
    margin-bottom: 25px;
  }
  .about p {
    font-size: 13px;
  }
  .about_content a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about_content {
    margin-bottom: 60px;
  }
  .PHOTOSHOP, .ILLUSTRATOR, .AFTER, .PREMIER, .FIGMA {
    padding-bottom: 60px;
  }
  .XD {
    padding-bottom: 0px;
  }
  .circle_second {
    margin-bottom: 50px;
  }
  .experience_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .experience_details hr {
    width: 200px;
    margin-bottom: 60px !important;
  }
  .location-container {
    display: initial !important;
  }
  .location_content {
    text-align: center;
  }
  .location_content h4 {
    font-size: 18px;
    padding-top: 0px;
  }
  .location_content h5 {
    font-size: 15px;
  }
  .location_content h6 {
    font-size: 13px;
  }
  .location_height {
    margin-bottom: 40px;
  }
  .location_underline {
    display: none;
  }
  .location_height2 {
    margin-bottom: 60px;
  }
  .projects_sub hr {
    margin-bottom: 60px !important;
    width: 115px;
  }
  .gallery_buttons {
    display: grid;
    margin-bottom: 30px;
  }
  .filter {
    display: block;
  }
  .first_gallery {
    margin-bottom: 30px;
  }
  .first_section, .second_section, .third_section, .fourth_section {
    margin-bottom: 0px !important;
  }
  .fifth_section {
    margin-bottom: 30px;
  }
  .contact_details hr {
    margin-bottom: 30px !important;
    width: 148px;
  }
  .contact_text h3 {
    font-size: 19px;
    margin-top: 30px;
  }
  .contact_text h4 {
    font-size: 16px;
    padding-top: 30px;
  }
  .contact_text h5 {
    font-size: 14px;
  }
  .contact_text {
    margin-bottom: 60px;
  }
  input[type="text"], input[type="email"], textarea {
    font-size: 14px !important;
    padding: 11px 20px;
  }
  input[type="email"], textarea {
    margin-top: 30px !important;
  }
  input[type="submit"] {
    margin-top: 0px;
    padding: 12px 20px;
  }
  .contact_content {
    margin-bottom: 30px;
  }
  .contact_button {
    text-align: center;
  }
  .side-adjust_small-device {
    padding: 0px !important;
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    color: #fff;
  }
  .adjust {
    top: 50% !important;
  }
  .navbar-default {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mobile {
    padding-left: 9px;
  }
  .sticky {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-toggle {
    margin-top: 22px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .navbar-default .navbar-toggle {
    border: none !important;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #d81356 !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1f1f20 !important;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
  }
  .heading {
    font-size: 5rem;
  }
  .header_title {
    margin-bottom: 12px;
  }
  .paragraph {
    font-size: 13px;
    text-align: left;
    margin-bottom: 25px !important;
  }
  .first_row {
    margin-bottom: 30px;
  }
  .first_image {
    padding-bottom: 30px !important;
  }
  .footer {
    font-size: 12px;
  }
  .scroll {
    font-size: 14px;
    text-align: center;
  }
  .scroll_inner {
    padding-bottom: 10px !important;
  }
}
@media screen and (min-width:480px) and (max-width:767px) {
  .mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .welcome {
    top: 35%;
  }
  .homepage_title h3 {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .homepage_title h1 {
    font-size: 5.1rem;
  }
  .homepage_banner {
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
  .homepage_title a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about h2, .skills h2, .experience_details h2, .projects_sub h2, .contact_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .about hr, .skills hr {
    width: 110px;
    margin-bottom: 60px !important;
  }
  .height_adjust {
    margin-top: 30px;
  }
  .about h3 {
    font-size: 24px;
  }
  .about h6 {
    font-size: 13px;
    margin-bottom: 25px;
  }
  .about p {
    font-size: 13px;
  }
  .about_content a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .about_content {
    margin-bottom: 60px;
  }
  .PHOTOSHOP, .ILLUSTRATOR, .AFTER, .PREMIER, .FIGMA {
    padding-bottom: 60px;
  }
  .XD {
    padding-bottom: 0px;
  }
  .circle_second {
    margin-bottom: 50px;
  }
  .experience_details h2 {
    font-size: 22px;
    margin-top: 60px;
  }
  .experience_details hr {
    width: 200px;
    margin-bottom: 60px !important;
  }
  .location-container {
    display: initial !important;
  }
  .location_content {
    text-align: center;
  }
  .location_content h4 {
    font-size: 18px;
    padding-top: 0px;
  }
  .location_content h5 {
    font-size: 15px;
  }
  .location_content h6 {
    font-size: 13px;
  }
  .location_height {
    margin-bottom: 40px;
  }
  .location_underline {
    display: none;
  }
  .location_height2 {
    margin-bottom: 60px;
  }
  .projects_sub hr {
    margin-bottom: 60px !important;
    width: 115px;
  }
  .gallery_buttons {
    display: grid;
    margin-bottom: 30px;
  }
  .filter {
    display: block;
  }
  .first_gallery {
    margin-bottom: 30px;
  }
  .first_section, .second_section, .third_section, .fourth_section {
    margin-bottom: 0px !important;
  }
  .fifth_section {
    margin-bottom: 30px;
  }
  .contact_details hr {
    margin-bottom: 30px !important;
    width: 148px;
  }
  .contact_text h3 {
    font-size: 19px;
    margin-top: 30px;
  }
  .contact_text h4 {
    font-size: 16px;
    padding-top: 30px;
  }
  .contact_text h5 {
    font-size: 14px;
  }
  .contact_text {
    margin-bottom: 60px;
  }
  input[type="text"], input[type="email"], textarea {
    font-size: 14px !important;
    padding: 11px 20px;
  }
  input[type="email"], textarea {
    margin-top: 30px !important;
  }
  input[type="submit"] {
    margin-top: 0px;
    padding: 12px 20px;
  }
  .contact_content {
    margin-bottom: 30px;
  }
  .contact_button {
    text-align: center;
  }
  .side-adjust_small-device {
    padding: 0px !important;
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    color: #fff;
  }
  .adjust {
    top: 50% !important;
  }
  .navbar-header {
    margin-left: 8px !important;
    margin-right: 12px !important;
  }
  .navbar-default {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mobile {
    padding-left: 9px;
  }
  .sticky {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-toggle {
    margin-top: 22px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .navbar-default .navbar-toggle {
    border: none !important;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #d81356 !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1f1f20 !important;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
  }
  .heading {
    font-size: 5rem;
  }
  .header_title {
    margin-bottom: 12px;
  }
  .paragraph {
    font-size: 14px;
    text-align: left;
    margin-bottom: 45px !important;
  }
  .first_row {
    margin-bottom: 45px;
  }
  .first_image {
    padding-bottom: 45px !important;
  }
  .footer {
    font-size: 13px;
  }
  .scroll {
    font-size: 16px;
  }
  .scroll_inner {
    padding-bottom: 10px !important;
  }
  .scroll {
    text-align: center;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .location_content {
    text-align: left !important;
  }
  .location_content h4 {
    font-size: 20px;
  }
  .location_content h5 {
    font-size: 16px;
  }
  .location_content h6 {
    font-size: 13px;
  }
  .location_underline {
    display: none;
  }
  .homepage_banner {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .location-container {
    display: initial !important;
  }
  .location_content {
    text-align: center;
  }
  .adjust {
    top: 50% !important;
  }
  .navbar-default .navbar-nav > li > a {
    margin-right: 0px !important;
    font-size: 14px;
  }
  .mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .sticky {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .scroll {
    font-size: 15px;
  }
  .paragraph {
    margin-bottom: 35px !important;
    font-size: 14px;
  }
  .first_row {
    margin-bottom: 30px;
  }
  .footer {
    font-size: 13px;
  }
  .filter {
    margin: 0px;
    padding: 10px 17px;
  }
}
@media screen and (min-width:1024px) and (max-width:1365px) {
  .location_content h4 {
    font-size: 19px;
  }
  .location_content h5 {
    font-size: 15px;
  }
  .location_underline hr {
    margin-top: -15px !important;
  }
  .location_content h6 {
    font-size: 13px;
  }
  .location_text {
    font-size: 13px;
  }
  .filter {
    margin: 10px;
  }
  .adjust {
    top: 50% !important;
  }
  .mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-default .navbar-nav > li > a {
    margin-right: 10px !important;
    font-size: 15px;
  }
}